.Head{
    display:flex;
    justify-content: center;
    background-color: black;
    border-bottom:solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position:fixed;
    top:0%;
    right:0%;
    left:0%;
    bottom:80%;
    z-index:100;
}

.Head .logo{
    margin-left:5%;
    width:100%;
    height:100%;
}



.body{
 font-family:arial;
}

.body .content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2%;
    column-gap: 5%;
    overflow-y: auto;
    padding-left:18%;
    padding-top:10%;
    padding-right: 2%;
    background-color: rgba(156, 154, 154, 0.486);
    position:fixed;
    top:16.5%;
    left:1%;
    right:0%;
    bottom:0%;
}

.content div{
    display:grid;
    height:100%;
    width:100%;
     object-fit: cover;
     margin-bottom: 10px;
     border-radius: 30px;        
}

@media (max-width:1000){
    .body .content{
        grid-template-columns:1fr 1fr 1fr 1fr ;
    }
}

@media (min-width:800){
    .body .content{
        grid-template-columns:1fr 1fr;
    }
}

.product{
    width:100%;
    border-radius: 50px;
}

.content div:hover{
    box-shadow: 5px 5px 10px black;
}

.Info{
    display:flex;
    top:-50px;
    background-color: limegreen;
    color:white;
    font-size:18px;
    font-weight:900;
    width:80%;
    align-items:center;
    justify-content:space-evenly;
}