.sidebar{
    position:fixed;
    left:1%;
    width:15%;
    top:18%;
    bottom:0%;
    padding-top: 5%;
    font-size:1em;
    font-weight:700;
    border-right: solid;
    border-left:solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
     z-index: 60;
    overflow-y: auto;
     background-image:linear-gradient(lime,rgba(0, 255, 0, 0.575),black);
}

.sidebar a{
    color:black;
    text-decoration:none;   
    font-weight:900;
}

.sidebar .tabs{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:1fr;
    margin-bottom:0.5%;
    padding:5%;
}

.tabs:hover{
    background-color: rgba(170, 161, 161, 0.774);
    cursor:pointer;
    transition:background-color 0.15s;
}


.tabs:active{
    opacity:0.3;
    transition: opacity 0.15s;
}


.tabs img{
    width:30%;
    margin-bottom:2%;
}

.tabs div{
    font-family: arial;
    font-size:12px;
}

